<?xml version="1.0"?>
<configuration>

  
  <configSections>
    <section name="MinecraftConfig" type="com.johnruiz.minecraft.MinecraftConfig, com.johnruiz.minecraft"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>


  <MinecraftConfig>
    <!--
      This should be the full path to your java.exe file.  The default location for this
      is usually in Program Files.  If you happen to have your java.exe in your PATH, then
      you can just specify java.exe.  If you don't know what I'm talking about, just set 
      this to the full path.
    -->
    <JavaExecutable>C:\Java\jre6\bin\java.exe</JavaExecutable>
    
    <!-- This should be the directory that contains your minecraft_server.jar file -->
    <MinecraftJarDirectory>D:\Shares\Games\Minecraft</MinecraftJarDirectory>

    <!--
      This is the -Xmx setting that you normally pass to the jar file.  Only put
      the number - not the letter.  If you want 1GB max, put 1024, NOT 1024M
    -->
    <MaxHeapInMegabytes>1024</MaxHeapInMegabytes>
    
    <!--
      This is the -Xms setting that you normally pass to the jar file.  Only put
      the number - not the letter.  If you want 1GB initial, put 1024, NOT 1024M
    -->
    <InitialHeapInMegabytes>1024</InitialHeapInMegabytes>
  </MinecraftConfig>


  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="minecraft-log.txt"/>
      <appendToFile value="false"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="2MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="INFO"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
